body {
    background: rgb(235, 189, 189);  
    margin-left: 30px;
    margin-right: 300px;
}

header {
    margin-top: 70px;
}

h1 {
    color: rgb(156, 23, 23);
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 50px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}
.logo {
    width: 30px;
}